@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel
<!--
<div class="text-center">
    <h1 class="display-4">Prof. Hilton's Top Reads</h1>
    <br />
</div>
-->

<!--display each entry in database/ seed data-->
<div>
    @foreach (var x in Model.Books)
    {
        <div class="card card-outline-primary m-2 p-2">
            <h4>@x.Title</h4>
            <!--display complete author name even though stored seperately-->
            <p>Author: @x.AuthorFirst @x.AuthorMiddle @x.AuthorLast</p>
            <p>Publisher: @x.Publisher</p>
            <p>ISBN: @x.ISBN</p>
            <p>Classification: @x.Classification</p>
            <p>Category: @x.Category</p>
            <p>Pages: @x.Pages</p>
            <span class="badge badge-info" style="float:left">
                Price: $@x.Price
            </span>

        </div>
    }
</div>
<!--add in bottom page nav menu-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>
